############################### GENERAL ###############################
PORT=4000
NODE_ENV=development

############################### DATABASE ##############################
DB_HOST=DATABASE_HOST
DB_PORT=DATABASE_POR
DB_USER=DATABASE_USER
DB_PASS=DATABASE_PASS
DB_NAME=DATABASE_NAME
    
############################### REDIS ###############################
REDIS_URL='redis uri'

############################### KEYCLOCK ###############################
KEYCLOAK_AUTH_URL='http://localhost:8080 (local) || http://keycloak:8080 (docker)'
KEYCLOAK_REALM='keycloak realm'
KEYCLOAK_CLIENT_ID='keycloak client id'
KEYCLOAK_CLIENT_SECRET='keycloak client secret'