############################### GENERAL ###############################
PORT=4000
NODE_ENV=development

############################### DATABASE ##############################
DB_HOST=DATABASE_HOST
DB_PORT=DATABASE_POR
DB_USER=DATABASE_USER
DB_PASS=DATABASE_PASS
DB_NAME=DATABASE_NAME
    
############################### REDIS ###############################
REDIS_URL='redis uri'

############################### KEYCLOCK ###############################
KEYCLOAK_AUTH_URL: http://localhost:8080/auth
KEYCLOAK_REALM: travel_booking_realm
KEYCLOAK_CLIENT_ID: travel_booking_client
KEYCLOAK_CLIENT_SECRET: 'u5Yx6SnRvcblrX6j32yYnnANd0NKqfh3'